body{
    font-family: 微軟正黑體;
}

/*content*/
.content_block1{background: #fff;width: 100%;  margin-top: -0.3%;}
.content_block1 .col-md-9 .timeline_nav{  margin-top: 2%;}
.content_block1 .col-md-9 .timeline_print{
    border-bottom: solid 2px rgb(0, 84, 149);
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    float: left;
}
.content_block1 .col-md-9 .timeline_print button{
    float: right;
    width: 104px;
    background: rgb(0, 69, 121);
    color: #fff;
    margin-bottom: 3%;
}
.content_block1 .col-md-9 .timeline_print button:hover{background: rgb(0, 159, 208);}
.content_block1 .col-md-9 .timeline_line{margin-top: 11%;}
.content_block1 .col-md-9 .timeline_line span:nth-child(1){
    border-right: solid 1px black;
    padding-right: 2%;
}
.content_block1 .col-md-9 .timeline_line span:nth-child(2){padding-left: 2%;}

.content_block1 .col-md-9 .col-md-3{text-align: center;}


.content_block1 .col-md-9 .col-md-9{  margin-bottom: 2%;}
.content_block1 .col-md-9 .col-md-9 ul{  border-left: 3px solid #1574bd;}
.content_block1 .col-md-9 .col-md-9 ul li{
    list-style: none;
    border-bottom: dotted 1px black;
    padding: 1%;
}

.year{  margin-top: 4%;}
.year li{  list-style: none;}
.year li h4{
    width: 20%;
    display: inline-block;
    float: left;
}
.year_content{
    width: 80%;
    display: inline-block;
    list-style: none;
    border-left: 3px solid #1574bd;
}
.year_content li{
    border-bottom: dotted 1px black;
    margin-bottom: 2%;
    padding: 1%;
}
.year_content li p:nth-child(1){
    display: inline-block;
    width: 20%;
    height: 17px;
    float: left;
}
.year_content li p img{ margin-left: 20%;}
/*line*/
.line  {
    margin: 50px 0 0 0;
    padding: 40px 0 0 0;
    background: transparent url(../img/co_ln_02.gif) 0 0 repeat-x;
}
.line li{list-style: none;}
/*link*/
.link{  border-top: dotted 1px rgb(223, 223, 223);margin-top: 1%; padding-left: 0px;}
.link li{list-style: none;  margin-top: 2%;}
.link li p:nth-child(1){  width: 35%;float: left;}
.link li p:nth-child(2){  width: 35%;float: left;}



/*right*/
.change_font{  background: beige;  margin-top: 7%;  padding: 4%;}
.change_font button:hover{background:rgb(31, 140, 233);}
.change_font span button a{color:white;font-weight: bold;}
.change_font span:nth-child(2) button a{font-size: 2px;}
.change_font span:nth-child(3) button a{font-size: 16px;}
.change_font span:nth-child(4) button a{font-size: 22px;}

.box2 {padding-left: 0px;}
.box2 li{list-style: none;}
.box2_list {padding-left: 0px;}
.box2_list li { line-height: 225%;padding-left: 25px;}
.box2_list li:nth-child(2) a{color: #000;}
.box2_list li:nth-child(2) a:hover{color: #fff;}
.box2_list li:nth-child(4) a{color: #fff;}
.box2_list li:nth-child(6) a:hover{color: #000; text-decoration: none;}
.box2_list li:nth-child(1){ background:#C5E6FC;}
.box2_list li:nth-child(4){ background:#2199EB;}
.box2_list li:nth-child(6){ background:#F6F6F6;}
.box2_list li:nth-child(10){ background:#F6F6F6;padding-left: 20px;}
.box2_list li:nth-child(11){ background:#F6F6F6;padding-left: 20px;}
.box2_list li:nth-child(12){ background:#F6F6F6;padding-left: 20px;}
.box2_list  li:nth-child(13){ background:#F6F6F6;padding-left: 20px;}
.box2_list li:nth-child(14){ background:#F6F6F6;padding-left: 20px;}
.box2_list li:nth-child(15){ background:#F6F6F6;padding-left: 20px;}
.box2_list li:nth-child(16){ background:#F6F6F6;padding-left: 20px;}
.box2_list li:hover{  background: #E0F5FB;}
.box2_list li:nth-child(4):hover{  background:#2199EB;}
.box2_list li:nth-child(6):hover{  background:#F6F6F6;}
.footer_line{
    padding-bottom: 12px;
    background: #f6f6f6 url(../img/sa_bg_01.gif) bottom no-repeat;
    zoom: 1;
}
.footer_line li{list-style: none;}
/*right-box3*/
.box3{
    background: #EBEBEB;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 11px;
}
.box3 li{list-style: none;  margin-bottom: 2%;}
.box3 li:nth-child(1){ background: url(../img/co_bt_10.png)
center top no-repeat;
    min-height: 87px;  list-style: none;  background-size: 100% 200%;}
.box3 li:nth-child(1):hover {background-position: 0pt 100%;}
.box3 button{width: 100%;  border: rgb(253, 253, 253);}
.box3 li:nth-child(2){    overflow: hidden; }
.box3 li:nth-child(2) a{   background: url(../img/co_bt_01.PNG)
center top no-repeat;
    list-style: none;
    display: block;
    width: 193px;
    height: 45px;
    text-indent: -9999px;
    background-position-x:1px;;
    background-size: 264px 246px;}
.box3 li:nth-child(2) a:hover {  background-position: 1pt 28%;}
.box3 li:nth-child(3){  margin-top: 7%;  text-align: center;}
.box3-1{
    list-style: none;
    border: solid 1px rgb(235, 235, 235);
    box-shadow: 1px 1px 7px 1px rgba(20%,20%,40%,0.5) inset;
    background-color: white;
    padding-left: 0px;
    padding: 8%;
}
.box3-1 li{  border-bottom: dotted 1px #CCC;}
.box3-1 li:nth-child(1){background: none;  min-height: 100%;}
.box3-1 li:nth-child(3){ margin-top: 0%;}
.box3-1 li p:nth-child(1){float: left;}
.box3 li:nth-child(4) {  text-align: right;}
.box3 li:nth-child(4) a{color: #333;}
.box3 li:nth-child(4) a:hover{  color: #28b;}
/*right4*/
.box4{  padding-left: 0px;}
.box4 li{
    list-style: none;
    background-color: #F4F4F4;
    padding-left: 4%;
    border: solid 1px #DDDDDD;
    padding-bottom: 4%;
    padding-right: 4%;

}
.box4 li:hover{ color: #5696B5;  background-color: #E8EFF3;}
.box4 li img{width: 100%;}
